{% extends 'base.html.twig' %}

{% block title 'Find the best pins on the earth !' %}

{% block body %}

<article>

<h1>{{pin.title}}</h1><br>
{{pin.description}}<br>
</article>
<br>
<a href="{{ path('app_pins_edit', {id:pin.id}) }}">Edit</a> | 
<a href="#" onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js-pin-delete-form').submit();">Delete</a> | 
<a href="{{ path('app_home') }}">Go Back</a> 


<form id="js-pin-delete-form" action="{{ path('app_pins_delete', {id:pin.id}) }}" method="post" style="display:none;">
    <input type="hidden" name="_method" value="DELETE">
    
    
    </form> |
{% endblock %}